[submodule "HomeAssistantTimeMachine"]
	path = HomeAssistantTimeMachine
	url = git@github-saihgupr:saihgupr/HomeAssistantTimeMachine.git
	branch = main
[submodule "HomeAssistantVersionControl"]
	path = HomeAssistantVersionControl
	url = git@github-saihgupr:saihgupr/HomeAssistantVersionControl.git
	branch = main
