[submodule "HomeAssistantTimeMachine"]
	path = HomeAssistantTimeMachine
	url = https://github.com/saihgupr/HomeAssistantTimeMachine.git
	branch = main
[submodule "HomeAssistantVersionControl"]
	path = HomeAssistantVersionControl
	url = https://github.com/saihgupr/HomeAssistantVersionControl.git
	branch = main
[submodule "HomeAssistantEditor"]
	path = HomeAssistantEditor
	url = https://github.com/saihgupr/HomeAssistantEditor.git
	branch = main
